.jokeBox {
  min-width: 180px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin: 25px auto 40px;
  width: 60%;
  box-shadow: 4px 6px 18px rgb(71 71 71 / 34%);
  border-radius: 5px;
  position: relative;
}

.jokeBox p {
  line-height: 33px;
}

.category {
  font-weight: 300;
  font-size: 14px;
  margin-top: 26px;
}

.category span {
  padding: 5px 7px;
  font-size: 12px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

div.shrink {
  width: 45%;
}

.copy {
  font-size: 32px;
  display: block;
  color: blue;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 7px;
}
.copy.done {
  color: #757575;
}
.marginTop {
  margin-top: 105px;
}

@media screen and (max-width: 450px) {
  .copy {
    position: static;
    padding-top: 7px;
  }
  .category {
    margin-top: 0;
  }
  .bottomDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }
  div.jokeBox,
  div.jokeBox.shrink {
    padding: 25px 20px 12px;
    width: 94%;
  }

  .jokeBox p {
    line-height: 28px;
  }
}
