select {
  width: 300px;
  text-align: center;
  padding: 5px;
  font-size: 17px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
  color: #757575;
}

@media screen and (max-width: 700px) {
  div.jokeBox {
    width: 85%;
  }
  div.jokeBox.shrink {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  select {
    width: 93%;
    margin-bottom: 30px;
  }
}
