.btnReload {
  width: fit-content;
  padding: 10px 40px;
  background-color: blue;
  cursor: pointer;
  color: white;
  box-shadow: 4px 4px 13px rgb(55 54 54 / 46%);
  transition: all 0.4s;
}

.btnDiv .btnReload:hover,
.btnDiv .btnReload:active {
  box-shadow: 3px 3px 13px rgb(55 54 54 / 7%);
}

select {
  width: 300px;
  text-align: center;
  padding: 5px;
  font-size: 17px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
  color: #757575;
}

@media screen and (max-width: 700px) {
  div.jokeBox {
    width: 85%;
  }
  div.jokeBox.shrink {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  select {
    width: 93%;
    margin-bottom: 30px;
  }
}
