* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #bbbbc9;
  -webkit-tap-highlight-color: transparent;
}

.App {
  text-align: center;
  max-width: 1500px;
  margin-inline: auto;
}

h1 {
  font-size: 2.5rem;
  margin-top: 55px;
  color: #373737;
}

.nowfunny {
  margin-bottom: 25px;
  color: #ea0101;
}
