* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #bbbbc9;
}

.App {
  text-align: center;
  max-width: 1500px;
}

a {
  text-decoration: none;
  color: #555454;
  padding: 7px 27px;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 29px;
  background-color: white;
}
.nowfunny {
  margin-bottom: 25px;
  color: red;
}
