* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #bbbbc9;
  -webkit-tap-highlight-color: transparent;
}

.App {
  text-align: center;
  max-width: 1500px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 55px;
}

a {
  text-decoration: none;
  color: #555454;
  padding: 8px 27px;
  display: block;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 29px;
  background-color: white;
  transition: all 0.5s ease-out;
}

a:hover,
a:active {
  background-color: blueviolet;
  color: white;
}
.nowfunny {
  margin-top: 120px;
  margin-bottom: 25px;
  color: red;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.btnDiv a,
.btnDiv .btnReload {
  margin: auto 10px;
}

.mobileDiv {
  position: fixed;
  display: none;
  flex-direction: row-reverse;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  background-color: rgb(70 83 209);
}

.mobileDiv a,
.mobileDiv .btnReload {
  width: 50%;
  margin: 0;
  padding: 15px 0;
  background-color: transparent;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: none;
  color: #ffffffed;
  border-radius: 0;
  box-shadow: 0 -2px 3px rgb(0 16 87 / 73%);
}
.mobileDiv .btnReload {
  border-left: 2px solid rgb(255 247 247 / 54%);
}

.mobileDiv a:active,
.mobileDiv .btnReload:active {
  /* background-color: #6d6ddf; */
  /* color: #b1b6f1; */
  box-shadow: 0 -2px 5px rgb(0 16 87 / 35%);

  background-color: #0000b4;
  color: #e0e0e0;
}

@media screen and (max-width: 450px) {
  .mobileDiv {
    display: flex;
  }

  .btnDiv {
    display: none;
  }

  h1 {
    margin-top: 60px;
  }
}
